db.sqlite3

*.pyc
cert3/__pycache__/__init__.cpython-310.pyc
cert3/__pycache__/__init__.cpython-310.pyc
cert3/__pycache__/settings.cpython-310.pyc
cert3/__pycache__/urls.cpython-310.pyc
cert3/__pycache__/settings.cpython-310.pyc
__pycache__/

# Exclude all .pyc files
*.pyc

# Exclude all .pyo files
*.pyo